:root {
    --border-color: #29abe2;
    --text-primary-color: #ffffff;
    --text-active-color: #262e42;
    --text-disable-color: #666666;
    --background-color: #262e42;
    --background-progress-color: #e6e6e6;
    --button-background-primary-color: #0071bc;
    --button-background-secondary-color: #666666;
}


/* Common */

body {
    background: var(--background-color);
}

.text-center {
    text-align: center;
}

:focus {
    outline: none;
}

.rate-text {
    color: var(--border-color);
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.progress-container {
    max-width: 820px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    border-left: none;
    margin: 50px auto;
}

.progress-wrapper {
    max-width: 800px;
    display: flex;
    flex: auto;
    border: 1px solid var(--border-color);
    border-right: 0;
    border-radius: 50px 0 0 50px;
}

.progress-wrapper .progress-item {
    flex: 1;
    text-align: center;
    color: var(--text-disable-color);
    position: relative;
}

.progress-wrapper .progress-item .btn-reward {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 3px;
    background-color: var(--button-background-secondary-color);
    color: var(--text-primary-color);
}

.progress-wrapper.progress-top .progress-item .btn-reward {
    top: -25px;
}

.progress-wrapper.progress-bottom .progress-item .btn-reward {
    bottom: -40px;
}

.progress-item[aria-active="true"] .btn-reward.active {
    background-color: var(--button-background-primary-color) !important;
}

.progress-wrapper:first-child .progress-item:first-child {
    border-radius: 50px 0 0 50px;
}

.progress-wrapper.progress-top {
    border-top: none;
}

.progress-wrapper.progress-bottom {
    border-bottom: none;
}

.progress-wrapper .progress-item[aria-active="true"] {
    background: var(--background-progress-color);
    color: var(--text-active-color);
}

.progress-space {
    height: 50px;
    max-width: 800px;
    border-right: 1px solid var(--border-color);
    position: relative;
}

.progress-space::after {
    position: absolute;
    right: -20px;
    top: -19px;
    width: 20px;
    height: 88px;
    background-color: var(--background-progress-color);
    content: '';
    border-radius: 0 8px 8px 0;
}


/* Header */

.header {
    text-align: center;
    color: var(--text-primary-color);
}

.header .title {
    font-size: 56px;
}

.header .description {
    font-size: 23px;
}


/* Modal */

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    /* display: none; */
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    max-width: 420px;
    color: var(--text-primary-color);
}

.modal-content .modal-title {
    display: flex;
    align-items: center;
}

.modal-content .icon-success {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.btn-complete {
    background-color: #2D345A;
    border: none;
    color: var(--text-primary-color);
    padding: 10px;
}